<!doctype html>

<html>
<head>
	<title>location</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div>
	<form method="post" action="location.html">
		<fieldset>
			<legend>Add new location:</legend>
			<p>Location Name: <input type="text" name="location"></p>
			<p>Campus: <select name="campus"></p>
				<option value="1">off-campus</option>
				<option value="2">on-campus</option>
			</select>
			<p><input type="submit" name ="add" value="Add Location"/></p>
		 
		</fieldset>
	</form>
</div>


<div>
	<h3>Locations:</h3>
	<table border="1">
		<thead> 
			<th>place</th> 
			<th>campus</th> 			
		</thead> 
		<tbody> 
			<tr> 
				<td>Bathrooms</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Common Rooms</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Courtyards</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Dungeon</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Greenhouses</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Hospital Wing</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Kitchens</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Library</td> 
				<td>on-campus</td>
				<td><button onclick="deleteLocation()">Delete</button></td>	
				<td><a href="/location/">Update</a></td>				
			</tr> 
			
			<tr> 
				<td>Staircases</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Chamber of Secrets</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Room of Requirement</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Head of Hufflepuff Office</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Head of Gryffindor Office</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Head of Ravenclaw Office</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Head of Slytherins Office</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Slytherin Common Room</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Hufflepuff Common Room</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Gryffindor Common Room</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Ravenclaw Common Room</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Potions Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Care of Magical Creatures classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Transfiguration Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Defence Against the Dark Arts Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>History of Magic Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Muggle Studies Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Advanced Arithmancy Studies classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Detention Chamber</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Charms Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Art Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Music Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Study of Ancient Runes Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr>
			
			<tr> 
				<td>Arithmancy Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Divination Classroom</td> 
				<td>on-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Diagon Alley</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Kings Cross</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>The Burrow</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>The Ministry of Magic</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Azkaban</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Honeydukes</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Ollivanders</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Godrics Hollow</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>St Mungos Hospital</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Hogsmeade</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Knockturn Alley</td> 
				<td>off-campus</td>
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>The Leaky Cauldron</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Hagrids hut</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Forbidden Forest</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Borgin and Burkes</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>The Three Broomsticks</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Beauxbatons Academy</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Durmstrang Institute</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Shrieking Shack</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Gringotts</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>The Great Hall</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Weasleys Wizard Wheezes</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Flourish and Blotts</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>The Riddle house</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Little Hangleton Graveyard</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Madam Malkins Robes for all Occasions</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>The Lovegood House</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Shell Cottage</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Malfoy Manor</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Ilvermorny</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>MACUSA</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Number Four, Privet Drive</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
			
			<tr> 
				<td>Number Twelve, Grimmauld Place</td> 
				<td>off-campus</td> 
				<td><button onclick="deleteLocation()">Delete</button></td>
				<td><a href="/location/">Update</a></td>
			</tr> 
				
		</tbody> 
	</table> 
</div>
</body>
</html>